/////////////////////////////////////////
/**************** Colors ****************/
/////////////////////////////////////////

// Geneal
$background: #FAF7F5;//EADCD0 FAF5F0
$selectionBack: #DFC7AF; // CC9966
$selection:#FFF;
$lineColor: #CDC5C0; //c1c7cd

// Text
$textColor: #505050; // 606060
$headlineColor:#DED3C6; // D7C9B9 C1B09C

// Links
$navTextGray: #878787;
$navTextHover: #DED3C6; // CC9966 E6A666


/////////////////////////////////////////
/**************** Fonts ****************/
/////////////////////////////////////////

$headlineFont: 'Baskerville', serif;
$textFont: 'Helvetica Neue', Helvetica, sans-serif;